body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("https://italiandesignforliving.biz/636/piastrella-mosaico-con-tozzetti-5x5-in-gres-porcellanato-disponibile-in-3-colori-collezione-creo.jpg") repeat ;
}
.stat{
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("../images/anime_house_interior_by_anasofoz_dcmlrme-fullview.jpg")  no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.howl{
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
    background: url("../images/howl.jpg") no-repeat; width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    margin-bottom: 20px;
    margin-right: 50%;
    border: none;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    border: white;
    border-radius: 20px;
;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid whitesmoke;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.but{
    border: 1px solid;
    border-radius: 10px;
    font-family: 'Shadows Into Light', cursive;
    position: relative;
    font-weight: bold;

}
#btn {
    display: inline-block;
    background: rgb( 239, 245, 223);
    border: 1px solid;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
}

#btn:hover {
    background: transparent;
}

#btn:hover #circle {
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}
.titulo{
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}
#titulo{
    font-family: 'Shadows Into Light', cursive;
    color: antiquewhite;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;;
}
a{
    text-decoration: none;
    color: #191919;
    font-weight: bold;
}
button{
    border-radius: 20px;
}
#notes{
    width: 1000px;
    height: 610px;
    margin: auto;
    padding-top: 2%;
    background: url("../images/wooden-wall.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.5em;
}
.note1{
    width: 1000px;
    height: 500px;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 1.5em;
}
#tabella{
    width: 90%
}


.interni td{
    border-style: none;
}

.tab{
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    font-weight: bold;
    width: 40%;
    border-collapse: collapse;
    background-color:rgb( 239, 245, 223) ;
    border:1px solid black;
    border-radius:6px;
    overflow:hidden;
    max-width:800px;
    margin:0 auto;
    position:relative;
}
#tabpremio{
    width: 750px;
    height: 488px;
    margin: auto;
    background-image: url("../images/woodcorn.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#cornice{
    width: 70%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
}

.avviso{
    width: 550px;
    margin: auto;
}
#table1, #table2{
    display: none;
}

.lav, .lav a {
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.tableadm{
    padding-left: 8%;
    color: rgb(213, 234, 235);
    width: 70%;
    border: solid 1px black;
    background-color: rgba(3, 14, 48,0.7);
    font-family: 'Spartan', sans-serif;
}
.tableadm tbody, td, tfoot, th, thead, tr{
    border-style: none;


}

